.DS_Store

InvisibleLightFactory/InvisibleLightFactory.xcodeproj/project.xcworkspace/contents.xcworkspacedata

InvisibleLightFactory/InvisibleLightFactory.xcodeproj/project.xcworkspace/xcuserdata/gjh.xcuserdatad/UserInterfaceState.xcuserstate

InvisibleLightFactory/InvisibleLightFactory.xcodeproj/xcuserdata/gjh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
